body
{
    min-height: 40% !important;
}

/*ячейки дерева*/
.x-grid-cell-inner {
    
}
textarea {
    border-style: none;
    width: 100%;
    height: 100%;
    font: inherit;

}
#matrix {
    overflow: hidden;
    width: 100%;
}

#matrix td,th {
    text-align: center;
    border: solid 1px #d0d0d0;
    font-size: 12px;
    position: relative;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 25px;
}

#matrix td {
    cursor: pointer;
    min-width: 25px;
    padding: 5px;
}
#matrix td:hover::after,
#matrix th:hover::after  {
    content: "";
    position: absolute;
    background-color: cornflowerblue;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

#matrix tr:hover {
    background-color: cornflowerblue;
}

.menu {
    z-index: 9999;
    width: 100%;
    background-color: #5fa2dd;
    text-align: center;
    padding: 10px;
}

.menu button {
    outline: none;
    border: none;
    background-color: transparent;
    width: 11%;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
    padding: 1px;
}

#canvas_div{
    position:fixed;
    top:10%;
    right:10%;
}

#canvas_div span{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
    padding: 1px;
}

#screenshot {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px; 
    opacity: 1; 
    transform: scale(0.8); 
    z-index: 99999999; 
    transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1), -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

#capture{
    position: fixed;
    right: 0;
    bottom: 0;
}